body {
	background-color: black;
}

h1 {
	color: white;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background-color: rgba(0, 183, 255, 0.651);
}
